*{
    box-sizing: border-box;
    margin: 0;
}

header{
    margin-top: 20px;
        
}

a{
    display: block;
    width: 100px;
    height: 40px;
    padding: 10px 5px;
    background-color: rgb(25, 148, 25);
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial;
    border-radius: 8px;
    
    text-decoration: none; /* remove underline */
    color: aliceblue;
}

a:active{
    background-color: rgb(219, 106, 106);
}
a:visited{
    background-color: rgb(24, 37, 24);
}
a:hover{
    background-color: rgb(61, 105, 105);
}